.stat-container {
  display: flex;
  flex-direction: row;
  gap: 10px;
  padding: 10px;
  background-color: purple;
  color: #ffff;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  border-radius: 10px;
  border-color: 1px rosybrown;
}
